.budget-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;
    color: #fff;

    padding: 0 10px;
}

.finance-entry-container {
    display: flex;
    align-items: end;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    height: 0%;

    padding: 0 10px;

    .finance-entry-item {
        border: 1px 0 solid black;

        label {
            display: block;
            text-align: center;

            input[type="number"] {
                width: 100%;
                text-align: right;
                box-sizing: border-box;
                padding: 3px;
                border: none;
                border-top: 1px solid black;

                &:focus{
                    outline: none;
                }
            }
        }

    
        /* For Firefox */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    
        /* For Chrome, Safari, Edge, and Opera */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    
        /* Firefox requires an additional line */
        input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
        }
    }
}